@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@450&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: rgba(0, 0, 0, 0.666);
}
.container{
    position:relative;
    height:100%;
    width:100%;
}
.head_container{
    height: 80px;
    position:relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    position:relative;
    width:1200px;
    display: flex;
    align-items: center;

    height:50px;
}
.logo{
    position: relative;
    float: left;
    height:50px;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo .logo_text{
    text-align: center;
    font-size:40px ;
    color: rgb(253, 202, 62);
    font-family: 'Righteous', cursive;
}
.catagory{
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.catagory p{
    font-family: 'Changa', sans-serif;
}
.catagory p:hover{
    color: rgb(73, 73, 236);
}

.other{
    position: absolute;
    float: right;
    right:0;
    height:50px;
    width:70%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    display:flex;
    align-items: center;


}
.search{

    display: grid;
    grid-template-columns: auto 28px;
    grid-template-rows: 28px;
    align-items: center;
    position: relative;
    width: 30%;
    float: left;
    padding: 0;
    margin: 0;
    height: 28px;
    border-radius: 14px;
    background-color: rgba(221, 221, 221, 0.496);
    backdrop-filter: blur(5px);
}
.search input{
    outline: 0px;
    border: 0px;
    height: 100%;
    margin: 0;
    font-family: 'Changa', sans-serif;
    background-color: rgba(202, 191, 191, 0.762);
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 14px;
}
.search_icon{
    position:relative;
    height:100%;
    width:28px;
    display: flex;

    align-items: center;
    justify-content: center;

}
.search_icon i{
    font-size: 20px;
    color: rgb(251, 13, 72);
}
.others2{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: absolute;
    right: 110px;
    width: 40%;
}
.others2 div{

    display: flex;
    align-items: center;
    justify-content: center;
}
.others2 div p{
    font-family: 'Changa', sans-serif;
}
.others2 div p:hover{
    color: rgb(74, 74, 251);
}
.social{
    display: flex;
    align-items: center;
    height: 50px;
    width:100px;

    justify-content: center;
    position: absolute;
    right: 10px;
    

}
.social div{
    height: 100%;
    position:relative;
    width:50px;
    border-radius: ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social div i{

    font-size: 25px;
}
.fb i{
    color: rgb(63, 63, 253);
}
.tw i{
    color: rgb(0, 136, 255);
}
.social div:hover{
    background-color: blanchedalmond;
}
@media only screen and (max-width:1200px){
    .head{
        width:100%;
    }
}
@media only screen and (max-width:800px){
    .head{
        width:100%;
        height: 40px;
    }
    .logo{
        width: 30%;
    }
    .other{
        width: 60%;
    }
    .head_container{
        height: 75px;
    }
    .logo .logo_text{
        font-size: 35px;
    }
    .others2 div p{
        font-size: 13px;
    }
}
@media only screen and (max-width:1000px){
    .head{
        width:100%;
    }
    .head_container{
        height: 80px;
    }
    .logo{
        width: 25%;
    }
    .other{
        width: 65%;
    }
    .others2 div p{
        font-size: 14px;
    }
    .catagory p{
        font-size: 14px;
    }
}
@media only screen and (max-width:700px){
    .logo .logo_text{
        font-size: 30px;
    }
    .head_container{
        height: 60px;

    }
    .social{
        position: fixed;
        top: 50%;
        left: 0;
        backdrop-filter: blur(5px);
        flex-direction: column;
        width: 40px;
        height: 80px;
        border-radius: 20px;
        background-color: rgba(220, 215, 214, 0.197);
        
    }
    .social div{
        border-radius: 50%;

    }
    .social div:hover{
        background-color: azure;
        cursor: pointer;

    }
    .others2{
        right: 0;
        width: 50%;
    }
    .search{
        width: 40%;
    }

}
@media only screen and (max-width:500px){
    .logo .logo_text{
        font-size: 60px;
    }
}