@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@450&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    
    background-image: url("back1.png");
    background-size: cover;
}
.container{
    position:relative;
    height:100%;
    backdrop-filter: blur(5px);
    width:100%;
}
.head_container{
    height: 80px;
    position:relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    position:relative;
    width:1200px;
    display: flex;
    align-items: center;

    height:50px;
}
.logo{
    position: relative;
    float: left;
    height:50px;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo .logo_text{
    text-align: center;
    font-size:40px ;
    color: rgb(253, 202, 62);
    font-family: 'Righteous', cursive;
}

.other{
    position: absolute;
    float: right;
    right:0;
    height:50px;
    width:70%;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    align-items: center;


}
.search{

    display: grid;
    grid-template-columns: auto 28px;
    grid-template-rows: 28px;
    align-items: center;
    position: relative;
    width: 30%;
    float: left;
    padding: 0;
    margin: 0;
    height: 28px;
    border-radius: 14px;
    background-color: rgba(221, 221, 221, 0.496);
    backdrop-filter: blur(5px);
}
.search input{
    outline: 0px;
    border: 0px;
    height: 100%;
    margin: 0;
    font-family: 'Changa', sans-serif;
    background-color: rgba(202, 191, 191, 0.762);
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 14px;
}
.search_icon{
    position:relative;
    height:100%;
    width:28px;
    display: flex;

    align-items: center;
    justify-content: center;

}
.search_icon i{
    font-size: 20px;
    color: rgb(255, 77, 121);
    
    animation: search_icon 1s infinite;
}
.others2{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: absolute;
    right: 110px;
    width: 40%;
}
.others2 div{

    display: flex;
    align-items: center;
    justify-content: center;
}
.others2 div p{
    font-family: 'Changa', sans-serif;
    font-size: 16px;
    color: rgba(88, 177, 255, 0.598);
}
.others2 div p:hover{
    color: rgb(240, 240, 255);
}
.social{
    display: flex;
    align-items: center;
    height: 30px;
    width:70px;
    background-color: rgba(250, 235, 215, 0.353);
    border-radius: 15px;

    justify-content: center;
    position: absolute;
    right: 10px;
    

}
.social div{
    height: 100%;
    position:relative;
    width:50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    
    justify-content: center;
}
.social div i{

    font-size: 20px;
}
.fb i{
    color: rgb(63, 63, 253);
}
.tw i{
    color: rgb(0, 136, 255);
}
.social div:hover{
    background-color: blanchedalmond;
}
.floating-menu{
    height: 20px;
    width:25px;
    position: absolute;
    top:20px;
    right:15px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.floating-menu #aa,#bb,#cc{
    height: 4px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    background-color: rgb(206, 200, 200);

}






@media only screen and (max-width:1200px){
    .head{
        width:100%;
    }
}
@media only screen and (max-width:800px){
    .head{
        width:100%;
        height: 40px;
    }
    .logo{
        width: 30%;
    }
    .other{
        width: 60%;
    }
    .head_container{
        height: 75px;
    }
    .logo .logo_text{
        font-size: 35px;
    }
    .others2 div p{
        font-size: 15px;
    }
}
@media only screen and (max-width:1000px){
    .head{
        width:100%;
    }
    .head_container{
        height: 80px;
    }
    .logo{
        width: 25%;
    }
    .other{
        width: 65%;
    }
    .others2 div p{
        font-size: 15px;
    }
    .catagory p{
        font-size: 15px;
    }
}
@media only screen and (max-width:700px){
    .logo .logo_text{
        font-size: 30px;
    }
    .head_container{
        height: 60px;

    }
    .social{
        position: fixed;
        top: 50%;
        left: 0;
        backdrop-filter: blur(5px);
        flex-direction: column;
        width: 40px;
        height: 80px;
        border-radius: 20px;
        background-color: rgba(220, 215, 214, 0.197);
        
    }
    .social div{
        border-radius: 50%;

    }
    .social div:hover{
        background-color: azure;
        cursor: pointer;

    }
    .others2{
        right: 0;
        width: 50%;
    }
    .search{
        width: 40%;
    }
    .search{
        margin-left: 30px;
    }
}
@media only screen and (max-width:550px){
    body{
        background: url("back2.png");
    }
    .floating-menu{
        visibility: visible;
    }
    .logo{
        width: 50%;
        padding-left: 25px;
        justify-content: left;
    }
    .other{
        display: flex;
        position: fixed;
        height: 100%;
        width: 100%;
        clip-path: circle(0% at 100% 50%);
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: 40%;
        transition: all 0.5s;

    }
    .search{
        position: relative;
        width: 60%;
        margin:0;
    }
    .others2{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 5%;
        width: 60%;
        justify-content: left;
        padding-left: 10px;
        align-items: unset;
        padding-right: 10px;
    }
    .others2 div{
        justify-content: unset;
        align-items: unset;

        padding-left: 10px;
    }
    .others2 div:hover p{
        color: rgb(61, 59, 59);
    }
    .others2 div:hover{
        background-color: rgba(245, 245, 220, 0.578);
        border-radius: 3px;

    }
    .social{
        position:relative;
        top: auto;
        right: auto;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 25%;
    }
    .other.active{
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        clip-path: circle(120.0% at 100% 50%);
        
        background-color: rgba(54, 54, 54, 0.387);
        transition: all 0.5s;
        backdrop-filter: blur(5px);
    }
    .floating-menu.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .floating-menu.active #aa{
        position: absolute;
        transform: rotate(-45deg);
        transition: all 0.5s;
    }
    .floating-menu.active #bb{
        visibility: hidden;
        transition: all 0s;
    }
    .floating-menu.active #cc{
        position: absolute;
        transform: rotate(225deg);
        transition: all 0.5s;
    }
    .floating-menu span{
        transition: all 0.5s;
    }
    .others2 div p{
        color: rgba(255, 247, 25, 0.938);
    }
    
}
@keyframes search_icon{
    0%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(0deg); 
    }
    50%{
        transform: rotate(-15deg); 
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(15deg);
    }
}